# server settings
set dedicated 1
set com_hunkmegs 128
set net_port 27960

# game settings
seta bot_enable 1
seta bot_nochat 0
seta g_spskill 5
seta bot_minplayers 3
seta sv_maxclients 16
seta sv_pure 1
seta g_gametype 0
seta timelimit 10
seta fraglimit 20
seta g_inactivity 120

seta sv_hostname "Disruptor Server"
seta g_motd "...sup?"
seta rconpassword "secretPassword1!"

# map rotation
set dm1 "map q3dm17; set nextmap vstr dm2"
set dm2 "map q3dm6; set nextmap vstr dm3"
set dm3 "map q3dm13; set nextmap vstr dm1"

vstr dm1
